<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsxd5-KAAq9LmUUwm8yocFPhqH7IJYzWM</string>
	<key>GCM_SENDER_ID</key>
	<string>433301837855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wanderlustapp</string>
	<key>PROJECT_ID</key>
	<string>wanderlustapp-4cfc5</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderlustapp-4cfc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433301837855:ios:ea6ee5777744e78b6bdd2a</string>
</dict>
</plist>